#root {
  display: flex;
  flex-direction: column;

  min-width: 800px;
  min-height: 100vh;
  padding: 0 12px;

  background: rgb(2 0 36);
  background: linear-gradient(90deg, rgb(2 0 36 / 100%) 0%, rgb(22 129 122 / 100%) 56%, rgb(60 133 99 / 100%) 100%);
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 12px;
  padding: 24px;

  background-color: white;
  border: 1px solid #73ccfb;
  border-radius: 25px;
  box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 6px 2px;
}
