$errorColor: #F36747;

.inputFieldContainer {
  line-height: 28px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}
.enteredChar {
  color: green;
}
.aviableChar {
  background-color: green;
  color: white;
}
.wrongChar {
  background-color: $errorColor;
  color:white;
}
.incorrectLayout {
  color: $errorColor;
}
