$error-color: #F36747;

.inputFieldContainer {
  font-size: 20px;
  line-height: 28px;

  &:focus {
    outline: none;
  }
}

.enteredChar {
  color: green;
}

.aviableChar {
  color: white;

  background-color: green;
}

.wrongChar {
  color:white;

  background-color: $error-color;
}

.incorrectLayout {
  color: $error-color;
}
